.banner {background: url("img3.jpg") center/cover no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.banner h1 {
    color: rgb(71, 81, 80);
    margin: 0;
}
.banner p {
    color: rgb(71, 81, 80);
} 
ol { 
    list-style-position: inside;
    padding-left: 0;
    margin-top: 0;
}

body {
    font-family: Arial;
    color:#0fb8ce;
     background-color: #0c2b40;
     padding-left: 120px;
     padding-right: 120px;
}
p {
    text-indent: 30px;
}
a {
    color: #0fb8ce;
}
a:visited {
    color: #9be7f1;
}
header {
    background: #0fb8ce; 
    color: #253947;
    padding-bottom: 20px;
}
section{
    background: #253947;
    margin: 20px ;
    padding: 20px;
    border-radius: 10px;
}
.img1 {
    display: block;
    width: 500px;
    margin: auto;
}
.img4 {
    display: block;
    width: 300px;
    margin: auto;
}
img.right {
    float: right;
    width: 350px;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer {
    background: #222;
    color: white;
    padding: 20px;
}
